.trafficTop {
    background-color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.redLight, .yellowLight, .greenLight, .purpleLight {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.3;
}
.redLight {
    background-color: red;
}
.yellowLight {
    background-color: yellow;
}
.greenLight {
    background-color: rgb(1, 204, 1);
}
.purpleLight {
    background-color: purple;
}
.active {
    opacity: 1;
}
.btn-purple {
    background-color: purple;
    color: white;
}


.poste-semaforo {
    width: 20px;
    height: 200px;
    background-color: gray;
    margin: 0 auto;
  }
  

  .contenedor-semaforo {
    width: 150px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
  }
  
  /* Estilos para las imágenes a los costados */
  .imagen-izquierda {
    width: 150px;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .imagen-derecha {
    width: 150px;
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
  }

